body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sets the container height to 100% of viewport height */
  background-color: #03285d;
}

.section {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.webcam-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.webcam {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.square {
  border: 2px solid white;
  box-sizing: border-box;
}

.button {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 50px;
  font-size: 20px;
  background-color: #c78d1d;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.captured-image {
  width: 100%;
  max-width: 640px;
  height: 480px;
}
.title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #617fa0;
  text-transform: capitalize;
}

.captcha {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.square-area {
  position: absolute;
  border: 2px solid red;
  z-index: 1;
}

.sectors-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
}

.sector {
  position: absolute;
  border: 0.5px solid white;
  background-color: #e5e6e859;
  cursor: pointer;
  z-index: 2;
}

.sector.watermark {
  background-color: #e5e6e859;
}

.sector:hover {
  background-color: #03285d;
}

.sector svg {
  width: 100%;
  height: 100%;
  fill: white;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.sector svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 60%;
  fill: #e5e6e8;
}

.square-area {
  position: absolute;
  border: 2px solid red;
  z-index: 1;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.passed {
  color: green;
}
.failed {
  color: red;
}